{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "5"
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
